{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="jumbotron text-left">
  	<div class="container">

  	<h1>Log In</h1>

	<form method="POST" action="{% url 'login' %}">
		{% csrf_token %}

	    Username:<br>
	    <input type="text" placeholder="Enter Username" id="usrname" name="username" required><br>

	    Password:<br>
	  	<input type="password" placeholder="Enter Password" id="psw" name="password" required> <br>
		<br>

		{% if error %}

			<h5><b>{{error}}</b></h5>
			<br>

		{% endif %}

		<input class="btn btn-primary" type="submit" value="Login">
  	</form>

    <p>Don't have account? <a href="{% url 'signup' %}">Sign up </a></p>
</div>



<!--  /* Style all input fields */ -->
 <style>
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #008CBA;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "";
} 

</style>

</div>
</section>




{% endblock %}

